<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('links'); -%>
    <link rel="stylesheet" href="/css/superagent/viewAgents.css">


    <title>Document</title>
</head>
<body>    
    <%- include('header'); -%>
    <div class="fullContainer">
        <%- include('sidebar'); -%>
        <div class="mainContainer">
            <div class="mainContainerDiv">
                <div class="div">
                    <% if(users.length > 0){ %>

                        <table id="table_id" class="display compact cell-border hover" >
                            <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Username</td>
                                    <td>Refferal</td>
                                    <td>Level</td>
                                    <td>Options</td>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i < users.length; i++) { %>
                                    <tr id="<%= users[i].username %>">
                                        <td>
                                            <% if(users[i].time.getDate() < 10){ %>
                                             <%= '0' + users[i].time.getDate() %>
                                            <% } %>
                                            <% if(users[i].time.getDate() >= 10){%>
                                                <%=users[i].time.getDate() %>
                                            <% } %>/
                                            <% if(users[i].time.getMonth() < 10){ %>
                                                <%= '0' + parseInt(users[i].time.getMonth() + 1) %>
                                            <% }else if(users[i].time.getMonth() >= 10){ %>
                                                <%=users[i].time.getMonth() %>
                                            <% } %>/
    
   
                                            <%= users[i].time.getFullYear() %> -  
                                            <%= users[i].time.toLocaleTimeString() %>
                                        </td>
                                        <td><%= users[i].username %></td>
                                        <td><%= users[i].refferal %></td>
                                        <td><%= users[i].level %></td>
                                        <td>
                                        <a href="./editAgent/<%= users[i]._id %>">
                                            Manage
                                        </a>
                                        
                                    </td>
                                    
                                    </tr>
                                <% } %>
                                
                        
                        
                            </tbody>
                        </table>
                    <% }else{ %>


                        <h3>You dont have sub users that refer to you</h3>


                    <% } %>

                    </div>
            </div>
        </div>
    </div>



    <script>
        document.getElementById('sidebarvu').classList.add('currentPage');
        showSettings = () =>{
            if(document.getElementById('settings').classList == 'hidden'){
                document.getElementById('settings').classList.remove('hidden');

                document.getElementById('settings').classList.add('settings');

            }
            else{
                document.getElementById('settings').classList.remove('settings');
                document.getElementById('settings').classList.add('hidden');
                
            }
            
        }
    </script>
<script>
    $(document).ready(function(){
        var table = $('#table_id').DataTable({
            "order" : [[0,"desc"]],
            "scrollY":        "200px",
            "scrollCollapse": true,
            "paging":         false,
            "bInfo": false,
            "language": {
                "searchPlaceholder": "Search records",
                "search" : ""
            },
            
        });
        $('.dataTables_filter').addClass('pull-left');
        
    })
    
    </script>
</body>
</html>